<h2><%= user.username %></h2>
<img src="/images/<%= user.avatar %>" alt="user.username">
<h3><%= user.jobTitle %></h3>
<h3><%= user.jobField %></h3>
<p><%= user.blurb %></p>

<ul id="user-workspace-list" class="container">
	<% workspaceItems.forEach(function(item) { %>
		<li _id="<%= item._id %>" class="row">
			<div class="col-sm-12">
				<h3><%= item._softwareId.name %></h3>
				<p><%= item.description %></p>
			</div>
		</li>
	<% }); %>
</ul>

