
<div id="profile-page" class="container">
	<div class="row">
		<div class="col-md-9 ">
			<h1><%= user.username %></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 profile-image">
			<img src="/images/something.png" alt="Profile Picture">
		</div>
		<div class="col-sm-8">
			<h3><span>Job:</span> <%= user.jobTitle %></h3>
			<h3><span>Field:</span> <%= user.jobField %></h3>
			<p><%= user.blurb %></p>			
		</div>
	</div>
	<h2>Workspace</h2>
	<ul id="user-workspace-list" class="container">
		<% workspaceItems.forEach(function(item) { %>
			<li _id="<%= item._id %>" class="row">
				<div class="col-sm-12">
					<h3><%= item._softwareId.name %></h3>
					<p><%= item.description %></p>
				</div>
			</li>
		<% }); %>
	</ul>

</div>

