<a href="/users/<%= user._id %>/edit"><button>Edit</button></a>
<h2><%= user.username %></h2>
<img src="/images/<%= user.avatar %>" alt="user.username">
<h3><%= user.jobTitle %></h3>
<h3><%= user.jobField %></h3>
<p><%= user.blurb %></p>
<% softwares.forEach(function(software) { %>
	<h3><%= software.name %></h3>
	<p><%= software.description %></p>
<% }); %>
