<a href="/users/<%= user._id %>/edit"><button>Edit</button></a>
<h2><%= user.username %></h2>
<img src="/images/<%= user.avatar %>" alt="user.username">
<h3><%= user.jobTitle %></h3>
<h3><%= user.jobField %></h3>
<p><%= user.blurb %></p>

<ul>
	<% workspaceItems.forEach(function(item) { %>
		<li _id="<%= item._id %>">
			<h3><%= item.name %></h3>
			<p><%= item.description %></p>
			<button _id="<%= item._id %>" class="btn btn-danger remove-workspaceItem">Remove</button>	
		</li>
	<% }); %>
</ul>
  